html{color:black;background-color:#fff;_text-overflow:ellipsis}
*{margin:0;padding:0}
//body,button,input,select,textarea{font:12px/1.5 PingFangSC-Regular,Tahoma,'Microsoft Yahei',sans-serif;_font-size:62.5%}
body,button,input,select,textarea{font-family:  "Microsoft Yahei"}

.lte_ie7 *{font-family:Microsoft Yahei}
h1,h2,h3,h4,h5,h6{font-size:1em}
a{text-decoration:none;cursor:pointer}
a:active,a:visited,a[tabindex='-1']:focus{outline:0 none}
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){
  a:active{background-color:transparent}
}
a:hover{outline:0 none;text-decoration:none}
b,cite,code,em,i,small,th{font-size:1em;font-style:normal;font-weight:500}
button,input,select,textarea{font-size:1em;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;outline:0 none}
button,input[type=button],input[type=submit]{cursor:pointer}
button::-moz-focus-inner,button::-moz-focus-outer,input::-moz-focus-inner,input::-moz-focus-outer{border:0 none;padding:0;margin:0}
input[type=search]{-webkit-appearance:textfield}
input:focus::-webkit-input-placeholder{color:transparent}
input::-ms-clear{display:none}
textarea{resize:vertical;overflow-y:auto}
table{border-collapse:collapse;border-spacing:0}
th{text-align:inherit}
fieldset,iframe,img{border:0 none}
img{display:inline-block;vertical-align:bottom;-ms-interpolation-mode:bicubic}
img::shadow div{border:none!important}
iframe{display:block}
ol,ul{list-style:none}
li{vertical-align:top}
q:after,q:before{content:''}
.cf:after,.cf:before{content:'';display:table}
.cf:after{clear:both}
.cf{*zoom:1}
[r-follow],[r-html],[r-show],[r-subscribe],[r-text]{display:none}
#gj_mini{display:none!important}
body{min-width:1790px}
a{color:#202020}
a:hover{color:#ff6428}
a:active{color:#202020}
.none{display:none}
.hidden{visibility:hidden}
.clear{height:0;font-size:0;clear:both}
.hl{color:#ff5945}
.mask_layer{position:fixed;_position:absolute;top:0;left:0;z-index:999;width:100%;height:100%;background:#000;filter:alpha(opacity=50);opacity:.5}
::selection{background-color:#ff920b;color:#fff}
html{
  height: 100%;
}
body{
  min-height: 100%;
  min-width: 1320px;
}
html{
  background: #ffffff;
}
.none{
  display: none;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.inline{
  display: inline-block;
}